:root {
  --primary-background: #ffffff;
  --dark-background: #2e2f42;
  --secondary-background: #f4f4fd;
  --overlay-background: #4d5ae5;
  --modal-wrapper-background: rgba(46, 47, 66, 0.4);
  --modal-background: #fcfcfc;

  --primary-text: #2e2f42;
  --ordinary-text: #434455;
  --secondary-text: #ffffff;
  --light-text: #f4f4fd;
  --blue-text: #4d5ae5;
  --active-link: #404bbf;

  --primary-button: #4d5ae5;
  --active-button: #404bbf;
  --ordinary-button: #f4f4fd;
  --modal-button: #e7e9fc;

  --primary-border: #e7e9fc;
  --ordinary-border: #8e8f99;
  --active-border: #404bbf;

  --ordinary-icon: #8e8f99;
  --primary-icon: #4d5ae5;
  --active-icon: #404bbf;
  --active-footer-icon: #31d0aa;
}

/* ----- BASE ----- */

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--ordinary-text);
  background-color: var(--primary-background);
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text);
}

.subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}

.ordinary-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ordinary-text);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  transition: color 250mss cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--active-link);
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- HEADER ----- */

.header {
  border-bottom: 1px solid var(--primary-border);
}

.header-container {
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--blue-text);
  margin-right: 76px;
}

.studio-logo {
  color: var(--primary-text);
}

.studio-logo-footer {
  color: var(--light-text);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text);
  padding: 24px 0;
}

.current {
  color: var(--active-link);
  position: relative;
}

.current::after {
  position: absolute;
  content: " ";
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-link);
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 40px;
  font-style: normal;
}

.adress-links {
  display: flex;
  gap: 40px;
}

.info-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ordinary-text);
}

/* ----- SECTION HERO ----- */

.hero-section {
  padding: 188px 0;
  background-color: var(--dark-background);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.hero-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}

.hero-button {
  min-width: 169px;
  background-color: var(--primary-button);
  color: var(--secondary-text);
  padding: 16px 32px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250mss cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-button);
}

/* ----- SECTION FEATURES ----- */

.features-section {
  padding: 120px 0;
}

.features {
  display: flex;
  gap: 24px;
}

.features-item {
  display: flex;
  width: calc((100% - 72px) / 4);
  flex-direction: column;
  align-items: flex-start;
}

.feature-icon {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  background-color: var(--secondary-background);
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* ----- SECTION WORK-PROCESS ----- */
.work-process-section {
  padding-bottom: 120px;
}

.work-process {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.work-process-item {
  width: calc((100% - 48px) / 3);
}

.work-process-img {
  border: 1px solid var(--primary-border);
}

.team-section {
  background-color: var(--secondary-background);
  padding: 120px 0;
}

/* ----- SECTION TEAM ----- */

.team-members-list {
  display: flex;
  gap: 24px;
}

.team-member-card {
  width: calc((100% - 72px) / 4);
  background-color: var(--primary-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px 0;
}

.social-links-list {
  background-color: #31d0aa;
}

.social-link {
  display: block;
}

.social-link-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-icon);
  transition: background-color 250mss cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}

.social-link:hover .social-link-wrapper {
  background-color: var(--active-icon);
}

/* ----- SECTION CUSTOMERS ---- */

.customers {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.customers-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--ordinary-border);
  width: 168px;
  height: 88px;
  transition: border-color 250mss cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item:hover {
  border-color: var(--active-border);
}

.customer-icon {
  fill: var(--ordinary-icon);
  transition: fill 250mss cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item:hover .customer-icon {
  fill: var(--active-border);
}

/* ----- SECTION PROJECTS ----- */

.projects-section {
  padding: 96px 0 120px 0;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  background-color: var(--ordinary-button);
  color: var(--blue-text);
  padding: 12px 24px;
  border: 1px solid var(--primary-border);
  transition: background-color 250mss cubic-bezier(0.4, 0, 0.2, 1),
    color 250mss cubic-bezier(0.4, 0, 0.2, 1),
    border 250mss cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--active-button);
  color: var(--secondary-text);
  border: 1px solid transparent;
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
}

.project-card-image-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 40px 32px 164px 32px;
  background-color: var(--overlay-background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: translatey 250mss cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay {
  transform: translate(0);
}

.overlay-text {
  color: var(--light-text);
}

.project-description {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-border);
  border-top: none;
}

.team-card-subtitle {
  text-align: center;
}

.team-card-text {
  text-align: center;
}

/* ----- MODAL-WINDOW ----- */

.modal {
  position: relative;
}

.modal-wrapper {
  border-radius: 4px;
  background: var(--modal-wrapper-background);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-content-wrapper {
  width: 408px;
  height: 584px;
  background-color: var(--modal-background);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modal-content {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

.modal-button {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  z-index: 2;
}

.x-mark-icon {
  position: absolute;
  fill: var(--dark-background);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* ----- FOOTER ----- */

.footer {
  background-color: var(--dark-background);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-text);
  letter-spacing: 0.02em;
}

.footer-description {
  max-width: 264px;
}

.footer-social-links-list {
  display: flex;
  gap: 16px;
}

.footer-social-links-name {
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-social-link:hover .social-link-wrapper {
  background-color: var(--active-footer-icon);
}
